



<div class="container">
    <div class="row">
        <h1>Wellcome to ssecond step part</h1>
        <form method="Post">
            <h3>Tournament Name</h3>
            <div class="form-group">
               @* <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Baking name">
                <span asp-validation-for="Name" class="small text-danger"></span>*@
            </div>
            <div class="form-group">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>