@{
    ViewData["Title"] = "All Event";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name of Tournament</th>
            <th scope="col">Date of creation</th>            
            <th scope="col">Creator</th>                 
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
       @* @foreach (var applied in Model)
        {
            <tr>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col">
                    <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-info">Info</a>
                    <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-success">Edit</a>
                    <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>