<h1> Hi from edit!</h1>

@{
    ViewData["Title"] = "Edit Event";
}

@{
    var userId = User.GetId();
}

@*@if (string.Compare(userId, @tournament.UserId) == 0)
{

}*@

@{
    int modelPosition = 0;
    int counter = 3;
    int idInHTML = 1;
    int playersInEvent = 4;
 }

<main class="conteiner" id="tournament" >

     @for (var i = 0; i < counter; i++)
     {
     playersInEvent /= 2;

     <ul class="round round-@(i + 1)">

        @for (var j = 0; j < playersInEvent; j++)
        {
            <li class="spacer">&nbsp;</li>
            <li class="game game-top"><a id="" onclick="ChangeForm(event)"> Click Here<span>Add result</span></a></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom" >
            <a onclick="ChangeForm(event)">Click here <span>Add result</span> </a></li>
            idInHTML += 2;
            modelPosition += 2;
            @if (j + 1 == playersInEvent)
            {
                <li class="spacer">&nbsp;</li>
            }
        }
     </ul>
    }
 </main>

@section Scripts {
<script>
    function ChangeForm(e) {
        e.preventDefault();
        console.log("here");
     }
</script>

<partial name="_ValidationScriptsPartial" />
}