

@{
    ViewData["Title"] = "Info Event";
}

@{
    var userId = User.GetId();
}

<div class="container">
    <div class="row">
        
    </div>
</div>

 
                        <a asp-controller="" asp-action="" asp-route-id="" class="btn btn-success">Edit</a>
                        <a asp-controller="Event" asp-action="Delete" asp-route-id="" class="btn btn-danger">Delete</a>
                    
                    