@{
    Dictionary<int, string> dictPosition = new Dictionary<int, string>()
    {
        {
            1, "start"
        },
        {
            2, "center"
        },
        {
            3, "end"
        },
    };

    int dictCounter = 1;
    int count = 16;
    int colCounter = 1;
}

<form class="form-floating">
    <div class="container">
        <div class="row">
            @for (var i = 0; i < 4; i++)
            {
                count /= 2;
                <div class="col align-self-@(dictPosition[dictCounter])">

                    @for (var j = 0; j < count; j++)
                    {
                        @if (i == 1)
                        {
                            <div style="margin-top: 150px"></div>
                        }

                        @if (i == 2)
                        {
                            <div style="margin-top: 300px"></div>
                        }
                        @if (i == 3)
                        {
                            <div style="margin-top: 500px"></div>
                        }

                        <div class="row-3" style="margin-top: 50px">
                            <div class="d-flex flex-row bd-highlight mb-3">
                                <label for="floatingInputValue" class="p-2 bd-highlight">Team Name</label>
                                <input class="form-control" id="floatingInputValue">
                                <label class="p-2 bd-highlight">Scored Goals</label>
                                <input class="form-control" id="floatingInputValue">
                            </div>


                            <div class="d-flex flex-row bd-highlight mb-3">
                                <label for="floatingInputValue" class="p-2 bd-highlight">Team Name</label>
                                <input class="form-control" id="floatingInputValue">
                                <label class="p-2 bd-highlight">Scored Goals</label>
                                <input class="form-control" id="floatingInputValue">
                            </div>
                        </div>
                    }

                </div>
                colCounter++;
            }
        </div>
    </div>
</form>


