@{
    ViewData["Title"] = "Unavailable Home";
}

@*<div class="mt-4 p-5 bg-warning text-white rounded jumbotron-fluid">
    
  <h3>Under Contruction</h3>  
</div>*@

<div class="jumbotron jumbotron">
  <div class="container">
      <img src="~/underConstruction.png" ></>
    <h3 class="display-4">Under Contruction</h3>
    <p class="lead">This part of the site is under construction. Pleace chack later.</p>
  </div>
</div>