@model TournamentCreatePlayersModel

@{
    ViewData["Title"] = "Tournament ThirdStep";
}

<div class="conteiner">
    <h1 style="text-align: center; margin-bottom: 30px">Add players in your teams.</h1>
    <div class="row">

        @{
            int counter = 0;
        }
        <div class="col">
            @foreach (var item in Model.Teams)
            {
                counter++;
                <a class="text-decoration-none" asp-controller="Player" asp-action="Add" asp-route-teamId="@item.Id">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">@Model.Name</div>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">You should add not less than 4 and no more than 8 players on each team. This is your @counter team.</p>
                        </div>
                    </div>
                </a>
             }
        </div>
    </div>
</div>